@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,300italic,400italic&subset=latin,latin-ext');

html {
    height: 100%;
    background-color: #212534;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.container {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.container:hover {
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .1);
    filter: blur(10px);
    margin: -20px;
}

nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(152, 152, 152, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb hover {
    background: lightgray;
    border-radius: 25px;
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.2);
}

.patreon {
    background: linear-gradient(45deg, #FF2D55, #FF8E35, #FFC700);
    background-size: 300% 300%;
    animation: spinGradient 4s linear infinite;
}

.discord {
    background: linear-gradient(45deg, #5865F2, #7289DA, #feb3ff);
    background-size: 300% 300%;
    animation: backgroundGradient 4s linear infinite;
}

.itch-io {
    background: linear-gradient(45deg, #FF5743, #ED2939, #630C3A);
    background-size: 300% 300%;
    animation: spinGradient 4s linear infinite;
}

.pixiv {
    background: linear-gradient(45deg, #EA4B96, #6A0572, #3204AB);
    background-size: 300% 300%;
    animation: spinGradient 4s linear infinite;
}

.twitter {
    background: linear-gradient(45deg, #1DA1F2, #17A2F7, #1C91D1);
    background-size: 300% 300%;
    animation: spinGradient 2s linear infinite;
}

@keyframes spinGradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }
    
    100% {
        background-position: 0% 0%;
    }
}


@keyframes backgroundGradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 25% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 75% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card-left {
    width: 600px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card-left:hover {
    transform: translateX(10px);
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .1), 0 0 10px 1px rgba(255, 255, 255, .5);
}

.card-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .1);
    filter: blur(10px);
    transition: box-shadow 0.5s ease-in-out;
}

.card-left:hover:before {
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .2);
}

.card-right {
    width: 600px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card-right:hover {
    transform: translateX(-10px);
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .1), 0 0 10px 1px rgba(255, 255, 255, .5);
}

.card-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .1);
    filter: blur(10px);
    transition: box-shadow 0.5s ease-in-out;
}

.card-right:hover:before {
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .2);
}

.card-middle {
    width: 200px;
    height: 315px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-middle:hover {
    transform: translateY(10px);
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .1), 0 0 10px 1px rgba(255, 255, 255, .5);
}

.card-middle:before {
    content: "";
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, 0.1);
    filter: blur(10px);
    transition: box-shadow 0.5s ease-in-out;
}

.card-middle:hover:before {
    box-shadow: inset 0 0 5000px rgba(255, 255, 255, .2);
}